* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

:root {
  --font-color: #E2781A;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 150px;
  width: 100%;
  height: 80px;
}

header img {
  width: 30px;
  height: 30px;
}

/* FIRST SECTION */

section.first_section {
  display: flex;

  width: 100%;
  height: calc(100vh - 80px);

  background-color: #FEF7E5;
}

div.img_section {
  width: 50%;
  height: 100%;

  background: url(assets/background1.jpg) no-repeat;
  background-size: cover;
}

div.text_section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;

  padding: 80px;
}

div.text_section h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 100px;

  color: var(--font-color);
}

div.text_section p {
  font-style: italic;
  font-size: 20px;
  line-height: 36px;
}

div.text_section span {
  display: block;
  font-style: italic;
  line-height: 60px;
}

section.first_section button {
  margin-top: 20px;
  width: 70%;
  padding: 20px;

  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;

  border-radius: 50px;
  border: none;

  background-color: var(--font-color);
  color: white;
}

section.first_section button:hover {
  background-color: #ce7b31;
}


/* SECOND SECTION */

section.second_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  text-align: center;

  color: white;
  background: url(assets/padaria_fundo.jpg) no-repeat;
  background-size: cover;
}

section.second_section .box_text {
  width: 70%;
}

section.second_section h1 {
  font-size: 40px;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn_wrapper button.btn_1 {
  margin-top: 20px;
  width: 30%;
  padding: 20px;

  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;

  border-radius: 50px;
  border: none;

  background-color: var(--font-color);
  color: white;
}

.btn_wrapper button.btn_2 {
  margin-top: 20px;
  width: 30%;
  padding: 20px;

  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;

  border-radius: 50px;
  border: none;

  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn_wrapper button.btn_1:hover {
  background-color: #ef903d;
}

.btn_wrapper button.btn_2:hover {
  background-color: white;
  color: black;
}